@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: 255 99 72;
}

html, body, #root {
  height: 100%;
}

.gradient{
  background: radial-gradient(60% 60% at 50% 30%, rgba(99,102,241,0.25), transparent 60%),
              radial-gradient(40% 40% at 80% 20%, rgba(236,72,153,0.15), transparent 60%),
              radial-gradient(50% 50% at 20% 80%, rgba(34,197,94,0.12), transparent 60%);
}
